<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tiennn.appbandoanvanphong">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.DangKyActivity"></activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.TimKiemActivity" />
        <activity android:name=".activity.LichAnActivity" />
        <activity android:name=".activity.MonAnKhongThichActivity" />
        <activity android:name=".activity.MonAnUaThichActivity" />
        <activity android:name=".activity.ThongtinkhachhangActivity" />
        <activity android:name=".activity.GiohangActivity" />
        <activity android:name=".activity.ChiTietSanPhamActivity" />
        <activity android:name=".activity.PhanHoiActivity" />
        <activity android:name=".activity.DoUongActivity" />
        <activity android:name=".activity.DoAnActivity" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>